version: '3'

services:
  itemdb:
    build: ./itemservice/Database
    image: itemdb
    ports:
      - 5430:5432
  item-service:
    build: ./itemservice
    image: itemservice
    command: ./gradlew run
    depends_on:
      - itemdb
      - rabbitmq
    ports:
      - 1824:1824
  rabbitmq:
    image: rabbitmq
    ports:
      - 15672:15672
  paymentdb:
    build: ./paymentservice/Database
    image: paymentdb
    ports:
      - 5431:5432
  payment-service:
    build: ./paymentservice
    image: paymentservice
    command: ./gradlew run
    depends_on:
      - paymentdb
      - rabbitmq
    ports:
      - 1810:1810
  orderdb:
    build: ./orderservice/Database
    image: orderdb
    ports:
      - 5432:5432
  order-service:
    build: ./orderservice
    image: orderservice
    command: ./gradlew run
    depends_on:
      - orderdb
      - rabbitmq
    ports:
      - 1809:1809
  gateway:
    build: ./gateway
    image: gateway
    command: npm start
    depends_on:
      - item-service
      - payment-service
      - order-service
    ports:
      - 1810:1810
